<html>
  <title>Dumb Phrases</title>
  <body>
    {{#each comments}}
      <h1>{{title}}</h1>
      <i>
        <h2>"{{phrase}}"</h2>
        - {{author.name}}
      </i>
      {{/each}}


    <hr />
    <footer>
      <small>Developed by Jones :)</small>
    <footer>
  </body>
<html>