<html>
  <title>{{title}}</title>
  <body>
    <h1>{{title}}</h1>
    <form action="http://localhost:3000/phrases/add/" method="post">
    	<input type="text" name="title" placeholder="Title">
    	<input type="text" name="name" placeholder="Name">
    	<input type="text" name="mental-age" placeholder="Mental age">
    	<textarea name="phrase" cols="30" rows="10" placeholder="Place here the awesome stupid phrase..."></textarea>
    	<button type="submit">Send your dumb pharse</button>
    </form>
    <hr />
    <footer>
      <small>Developed by Jones :)</small>
    <footer>
  </body>
<html>