<div class="row mt">
    <div class="col-lg-12">
      <div class="form-panel">
          <form class="form-horizontal style-form" method="get">
            
          <h4 class="mb"><i class="fa fa-angle-right"></i> Site settings</h4>
            <div class="form-group">
                <label class="col-sm-2 control-label">Url</label>
                <div class="col-sm-4">
                    <input type="text"  class="form-control" placeholder="http://localhost">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Port</label>
                <div class="col-sm-4">
                    <input type="text"  class="form-control" placeholder="3030">
                </div>
            </div>

            <h4 class="mb"><i class="fa fa-angle-right"></i> Services settings</h4>
            <div class="form-group">
                <label class="col-sm-2 control-label">Url</label>
                <div class="col-sm-4">
                    <input type="text"  class="form-control" placeholder="http://localhost">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Port</label>
                <div class="col-sm-4">
                    <input type="text"  class="form-control" placeholder="3000">
                </div>
            </div>

            <h4 class="mb"><i class="fa fa-angle-right"></i> Data settings</h4>
            <div class="form-group">
              <label class="col-sm-2 control-label">Database name</label>
              <div class="col-sm-4">
                  <input type="text"  class="form-control" placeholder="node-mongo-dumbPhrases">
              </div>
            </div>
              
          </form>
      </div>
    </div><!-- col-lg-12-->         
</div><!-- /row -->